<div class="container-fluid">
  <button (click)="onShowOnScreen()" class="btn btn-primary showOnScreenBtn">
    Show Preceding Elements
  </button>
</div>
<div *ngIf="showOnScreen" class="container-fluid">
  <app-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
      <h2>Body</h2>
      <p>Some content here...</p>
    </div>
  </app-panel>

  <app-favorite
    [isSelected]="post.isSelected"
    (change)="onFavoriteChange($event)"
  ></app-favorite>

  <app-likes
    (change)="onLikesChange($event)"
    [isActive]="likes.isActive"
  ></app-likes>
  <span>{{ likes.count }}</span>

  <app-directives1></app-directives1>

  <button
    [ngStyle]="{
      backgroundColor: canSave ? 'blue' : 'grey',
      color: canSave ? 'white' : 'black',
      fontWeight: canSave ? 'bold' : 'normal'
    }"
  >
    Save
  </button>
  <br />
  <br />
  <span>{{ task.assignee?.name }}</span>

  <input type="text" [appInputFormat]="'uppercase'" /> <br />
  <app-contact-form></app-contact-form>
  <br />
  <app-signup-form></app-signup-form>
  <br />
  <app-new-course-form></app-new-course-form>
  <br />
  <app-new-course-form2></app-new-course-form2>
  <br />
</div>

<app-posts></app-posts>
